<h2>Updating Post: <%= @edited_post.title %></h2>

<%= form_for @edited_post, url: post_path, method: :put do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </br>

  <%= f.label :content %>
  <%= f.text_area :content, size: "80x8" %>
  </br>
  <%= f.submit %>
<% end %>
